<div class="flex items-center justify-center h-screen bg-cover bg-center" [ngStyle]="{ backgroundImage: 'url(' + signInImage() + ')'}">
  <mat-card class="p-8">
    <div class="flex flex-col items-center justify-center space-y-6">
      <div class="flex flex-col items-center justify-center gap-y-6">
        <img class="flex max-h-[40px]" [attr.src]="logo()" alt="logo"/>
        <mat-icon class="text-mat-sys-primary">lock</mat-icon>
        <div class="text-center">
          <h1 class="!text-[28px] !font-medium">{{ 'UNAUTHENTICATED.CREATE_NEW_PASSWORD' | translate }}</h1>
          <span class="text-(--disabled-text-color)">{{ 'UNAUTHENTICATED.CREATE_NEW_PASSWORD_MESSAGE' | translate }}</span>
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col space-y-6 w-106">
        <mat-form-field>
          <mat-label>{{ 'UNAUTHENTICATED.SIGN_IN_PASSWORD' | translate }}</mat-label>
          <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password"/>
          <button mat-icon-button matSuffix (click)="clickEventPassword($event)">
            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (form.get('password')?.hasError('required')) {
            <mat-error>{{ 'COMMON.ERROR_VALIDATION_REQUIRED' | translate }}</mat-error>
          }

          @if (form.get('password')?.hasError('minlength')) {
            <mat-error>{{ 'COMMON.ERROR_VALIDATION_MIN_LENGTH' | translate: {min: 8} }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'UNAUTHENTICATED.AGAIN_PASSWORD' | translate }}</mat-label>
          <input matInput [type]="hideAgainPassword() ? 'password' : 'text'" formControlName="againPassword"/>
          <button mat-icon-button matSuffix (click)="clickEventAgainPassword($event); $event.stopPropagation()">
            <mat-icon>{{ hideAgainPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (form.get('againPassword')?.hasError('required')) {
            <mat-error>{{ 'COMMON.ERROR_VALIDATION_REQUIRED' | translate }}</mat-error>
          }

          @if (form.get('againPassword')?.hasError('minlength')) {
            <mat-error>{{ 'COMMON.ERROR_VALIDATION_MIN_LENGTH' | translate: {min: 8} }}</mat-error>
          }
        </mat-form-field>

        @if (form.hasError('passwordMismatch') && form.get('againPassword')?.dirty) {
          <mat-error>{{ 'UNAUTHENTICATED.PASSWORDS_MISMATCH_ERROR' | translate }}</mat-error>
        }

        @if (requestInProgress()) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }

        <div class="flex justify-between">
          <div [routerLink]="['../', 'sing-in']" class="flex flex-row items-center gap-x-2 hover:underline hover:cursor-pointer">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <span class="justify-start text-mat-sys-primary">{{ 'UNAUTHENTICATED.BACK_TO_SIGN_IN' | translate }}</span>
          </div>
          <button mat-flat-button (submit)="submit()" [disabled]="!form.valid">{{ 'UNAUTHENTICATED.RESET_PASSWORD' | translate }}</button>
        </div>
      </form>
      <div *ngIf="whiteLabeling()?.copyrightVisible" class="copyright-info"> {{ copyright() }}</div>
    </div>
  </mat-card>
</div>
