/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'app/common/scss/theme';
@use 'app/common/scss/overrides';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

html {
  --small-dialog-width: 340px;
  --medium-dialog-width: 640px;
  --large-dialog-width: 768px;
}

body {
  margin: 0;
  font-family: 'Inter', "Helvetica Neue", sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(56.75, 56.75, 56.75) inset !important;
  -webkit-text-fill-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mat-sys-primary);
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-tertiary);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.snackbar-info {
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-tertiary) !important;
  --mdc-snackbar-container-color: var(--mat-sys-tertiary) !important;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
  --mdc-snackbar-container-color: var(--success-color-50) !important;
  background: var(--success-color-50) !important;
  color: white !important;
  margin-top: 64px;
}

.mat-mdc-snack-bar-container.snackbar-warn .mdc-snackbar__surface {
  --mdc-snackbar-container-color: var(--warning-color-50) !important;
  background: var(--warning-color-50) !important;
  color: white !important;
  margin-top: 64px;
}

.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__surface {
  --mdc-snackbar-container-color: var(--error-color-50) !important;
  background: var(--error-color-50) !important;
  color: white !important;
  margin-top: 64px;
}

.absolute {
  position: absolute !important;
}

.shimmer {
  box-shadow: none !important;
  transition: none !important;

  &::after {
    content: '';
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
    background-size: 500%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
  }
}

.alt-theme {
  .shimmer {
    &::after {
      background-image: linear-gradient(-45deg, #2c2c2c 40%, #212121 50%, #2c2c2c 60%);
    }
  }
}

.small-input {
  @include mat.form-field-overrides((
    outlined-label-text-size: 0.9rem,
    container-text-size: 0.9rem,
    container-height: 40px,
    container-vertical-padding: 10px
  ));
}

.tooltip-wide {
  .mdc-tooltip__surface {
    max-width: var(--small-dialog-width) !important;
  }
}

@keyframes shimmer {
  to {
    background-position-x: 0;
  }
}
