<mat-card class="w-160 p-4">
  <div class="flex flex-col gap-y-4">
    <h2>{{ 'SETTINGS.PASSWORD_CHANGE' | translate }}</h2>

    <form [formGroup]="form" class="flex flex-col gap-y-4">
      <mat-form-field floatLabel="always">
        <mat-label>{{ 'SETTINGS.PASSWORD_CHANGE_OLD_PASSWORD' | translate }}</mat-label>
        <input matInput type="password" autocomplete="off" formControlName="oldPassword"/>
        @if (form.get('oldPassword')?.hasError('required')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_REQUIRED' | translate }}</mat-error>
        }

        @if (form.get('oldPassword')?.hasError('maxlength')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_MAX_LENGTH' | translate:{max: form.get('oldPassword')?.getError('maxlength').requiredLength} }}</mat-error>
        }

        @if (form.get('oldPassword')?.hasError('minlength')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_MIN_LENGTH' | translate:{min: form.get('oldPassword')?.getError('minlength').requiredLength} }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>{{ 'SETTINGS.PASSWORD_CHANGE_NEW_PASSWORD' | translate }}</mat-label>
        <input matInput type="password" autocomplete="off" formControlName="newPassword"/>
        @if (form.get('newPassword')?.hasError('required')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_REQUIRED' | translate }}</mat-error>
        }

        @if (form.get('newPassword')?.hasError('maxlength')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_MAX_LENGTH' | translate:{max: form.get('newPassword')?.getError('maxlength').requiredLength} }}</mat-error>
        }

        @if (form.get('newPassword')?.hasError('minlength')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_MIN_LENGTH' | translate:{min: form.get('newPassword')?.getError('minlength').requiredLength} }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>{{ 'SETTINGS.PASSWORD_CHANGE_REPEAT_PASSWORD' | translate }}</mat-label>
        <input matInput type="password" autocomplete="off" formControlName="repeatPassword"/>

        @if (form.get('repeatPassword')?.hasError('required')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_REQUIRED' | translate }}</mat-error>
        }

        @if (form.get('repeatPassword')?.hasError('maxlength')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_MAX_LENGTH' | translate:{max: form.get('repeatPassword')?.getError('maxlength').requiredLength} }}</mat-error>
        }

        @if (form.get('repeatPassword')?.hasError('minlength')) {
          <mat-error>{{ 'COMMON.ERROR_VALIDATION_MIN_LENGTH' | translate:{min: form.get('repeatPassword')?.getError('minlength').requiredLength} }}</mat-error>
        }
      </mat-form-field>

      @if (form.hasError('passwordMismatch')) {
        <mat-error>{{ 'SETTINGS.PASSWORD_CHANGE_PASSWORDS_DO_NOT_MATCH' | translate }}</mat-error>
      }
    </form>

    <div class="flex flex-row justify-end items-center">
      <button mat-stroked-button class="no-margin" [disabled]="form.invalid || form.pristine" (click)="confirm()">{{ 'SETTINGS.PASSWORD_CHANGE_CONFIRM' | translate }}</button>
    </div>
  </div>
</mat-card>
